* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("1.jpg");
    background-color: rgba(0, 0, 0, 0.61);

    backdrop-filter: blur(5px);

    max-width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
}

.header {
    display: flex;
    color: white;
    padding: 10px;
    padding-top: 20px;
}
.content {
    /* border: 5px solid white; */
    padding-left: 100px;
    flex: 60%;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 20%;
}

.logo h1 {
    color: #F5771B;

}

.nav {
    flex: 50%;
    display: flex;
}

.nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.nav li {
    list-style: none;
    float: left;
}

.nav li a {
    text-decoration: none;
    color: white;
    font-size: large;
    text-transform: uppercase;
}

li a:hover {
    color: #F5771B;
}

.search {

    flex: 30%;
    display: flex;
    justify-content: center;
}

.ser {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.search input {
    /* width: 70%; */
    margin: 0;
    height: 40px;
    background: none;
    border: 1px solid #F5771B;
    border-top-left-radius: 5px;
    font-size: 18px;
    padding-left: 10px;
    color: white;
    border-bottom-left-radius: 5px;

}

.search input:focus {
    outline: none;
}

.search input::placeholder {
    color: white;
}

.ser-btn {
    height: 40px;
    color: yellow;
    background-color: #F5771B;
    border: none;
    width: 100px;
    border-top-right-radius: 5px;
    font-size: 17px;
    border-bottom-right-radius: 5px;
}

@media screen and (max-width: 1000px) {
    .search input {
        font-size: 14px;
    }

    .nav li a {
        font-size: 15px;
    }
}

@media screen and (max-width: 750px) {
    .header {
        flex-direction: column;
    }

    .nav {
        padding: 10px 0 10px 0;
    }
}